#Huodejiangli {
    .el-tabs {
      margin-bottom: 10px;
      background: #fff;
      margin: 0;
    }
    .block{
      display: inline-block;
      .end_demonstration{
        margin-left: 10px
      }
    }
    .overviewLayer{
      width: 100%;
    }
    .ui-input-search{
        padding: 5px 23px ;
        .el-icon-search{
            top: 10px;
        }
    }
  }