#CompanyDetails {
  .isDisabled {
    pointer-events: none;
    color: #999;
  }
  a:hover {
    color: #CF111B !important;
    text-decoration: underline !important;
    cursor: pointer;
}

  .Company_ctr {
    .company_t {
      background: #fff;
      // padding: 8px 10px;
      .company_top {
        display: flex;
        border-bottom: 2px solid #c03532;
        .img {
          width: 80px;
          height: 80px;
          text-align: center;
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-top: 10px;
          }
        }
        .company_right {
          line-height: 0;
          .p1 {
            color: #333;
            line-height: 30px;
            b {
              font-size: 18px;
              font-weight: 600;
            }
            i {
              font-size: 12px;
            }
          }
          .p2 {
            font-size: 12px;
            font-weight: 600;
            line-height: 24px;
            i {
            }
          }
        }
      }

      .company_center {
        // margin: 10px 0;
        padding: 25px 30px;
        ul {
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          margin: 0;
          border-left: 1px solid #e9edef;
          li {
            line-height: 30px;
            width: 32%;
            border-bottom: 1px solid #e9edef;
            border-right: 1px solid #e9edef;
            color: #000;
            padding: 10px 0 10px 1.1%;
            .comLxfsSec {
              display: inline-block;
              width: calc(100% - 118px);
            }
            .comLxfs {
              vertical-align: top;
            }
            .phoneShow {
              width: 90px;
              height: 24px;
              background: rgba(207, 17, 27, 1);
              border-radius: 4px;
              line-height: 24px;
              text-align: center;
              color: #fff;
              margin-bottom: 3px;
              cursor: pointer;
            }
          }
          li:nth-child(-n + 3) {
            border-top: 1px solid #e9edef;
          }
        }
        .center_tag {
          color: #000;
          p {
            line-height: 30px;
            padding: 10px 0 0 1.1%;
            border-bottom: 1px solid #e9edef;
            border-right: 1px solid #e9edef;
          }
          .comYwld {
            width: calc(100% - 118px);
          }
          .comYwldTit {
            vertical-align: top;
          }
          #Tags {
            // height: 24px;
            padding: 3px 12px;
            background: #f5cfd1;
            color: #cf111b;
            font-size: 18px;
            border-radius: 4px;
            margin: 0 10px 10px 0;
            line-height: 24px;
          }
        }
      }
    }
    .company_c {
      .el-tabs__content {
        .el-tab-pane {
          .block-title {
            position: relative;
            height: 50px;
            color: #333;
            line-height: 50px;
            white-space: nowrap;

            span {
              font-weight: 700;
              font-size: 22px;
            }
          }
          .table-list {
            background-color: #fff;
            margin-bottom: 10px;
            header {
              background-color: #fff;
            }
          }
        }
      }
      #particulars {
        .radio-wrap {
          .radio-group {
            background-color: #fff;
            padding: 0 30px;
            width: calc(100% - 60px);
            border-top: 2px solid #F0F2F5;
            border-bottom: 2px solid #F0F2F5;
            span {
              display: inline-block;
              width: 11.1%;
              height: 53px;
              line-height: 53px;
              text-align: center;
              cursor: pointer;
              // border-bottom: 1px solid #f5f8fa;
            }

            span:hover {
              color: #cf111b;
              border-bottom: 2px solid #cf111b !important;
            }
          }
          .companyContent {
            background-color: #fff;
            border-radius: 0px 0px 6px 6px;
            .block-title {
              span {
                font-weight: 700;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    .company_b {
    }
  }
  #developmentHistory {
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 1.71428571;
    position: relative;
    display: block;
    background: #fff;
    padding-bottom: 0;
    section {
      display: block;
      .item-wrapper {
        font-size: 20px;
        line-height: 1.71428571;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        -webkit-font-smoothing: antialiased;
        margin: 0;
        position: relative;
        padding: 5px 20px 5px 200px;
        padding-top: 20px;
        .line {
          padding-top: 20px;
          width: 1px;
          height: 100%;
          background: #c03532;
          position: absolute;
          top: 0;
          left: 199px;
          .arrow:first-child {
            position: absolute;
            top: -2px;
            left: -3px;
            display: inline-block;
            width: 0;
            height: 0;
            padding: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 5px solid #c03532;
          }
        }
        .wrapper-text {
          margin: 0;
          display: inline-block;
          border: 1px solid #e9edef;
          position: relative;
          padding: 0;
          header {
            font-weight: 700;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
          }
          .content {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
          }
          .data-time {
            padding-bottom: 20px;
            width: 114px;
            height: 24px;
            color: #fff;
            background: #c03532;
            position: absolute;
            left: -116px;
            margin-top: -12px;
            top: 50%;
            text-align: center;
          }
        }
      }
    }
  }
  #recruitmentInformation {
    border: 1px solid #e9edef;
    margin-bottom: 10px;
    border-bottom: 10px solid #f5f8fa;
    .recruitmentInformationContent {
      height: 360px;
      text-align: center;
      border-bottom: 1px solid #e9edef;
      .myPie {
        border-right: 1px solid #eaeef0;
      }
    }
  }
  .jyfwDetail {
    font-size: 14px;
    line-height: 40px;
    word-break: break-all;
  }
  .input-wapper {
    padding: 10px;
    width: 200px;
    display: inline-block;
  }
  .inlineBlock {
    display: inline-block;
  }
  .demonstration {
    padding-left: 20px;
  }
  .borderBottom10 {
    border-bottom: 10px solid #f5f8fa;
  }
  .radio-wrap .radio-group .cur {
    color: #cf111b;
    border-bottom: 2px solid #cf111b !important;
  }
}
