.Profile {
    .basic {
        ul {
            margin: 0 0 1px 0;
            // padding:0 10px;
            background: rgba(245, 248, 250, 1);
            border: 1px solid rgba(232, 234, 243, 1);
            border-radius: 4px;
            li:nth-child(odd) {
                border-right: 1px solid #e8eaf3;
            }
            li {
                color: #000;
                font-size: 20px;
                // flex: 1;
                width: calc(50% - 24px);
                display: inline-block;
                background: #f5f8fa;
                line-height: 50px;
                padding-left: 22px;
                // margin: 0 2px 1px 0;
                border-bottom: 1px solid #e8eaf3;
                word-break: break-all;
                img {
                    width: 20px;
                    height: 20px;
                    // background: url("../../assets/images/baseinfo.png");
                    margin-right: 12px;
                    line-height: 40px;
                }
            }
        }
    }
    .basic_senior {
        .senior {
            width: calc(25% - 15px);
            border-radius: 4px;
            box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
            margin-right: 20px;
            margin-top: 20px;

            .senior_top {
                line-height: 50px;
                color: #000;
                background: #fafafa;
                text-align: center;
                border-radius: 4px 4px 0 0;
            }
            .senior_bottom {
                line-height: 60px;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .senior:nth-child(4n + 0) {
            margin-right: 0;
        }
        .senior:nth-child(-n + 4) {
            margin-top: 0;
        }
    }
    .holder {
        padding: 0 10px;
    }
}
// 弹出框
.company_dialog {
    .el-dialog {
        .el-dialog__header {
            color: #000;
            font-weight: 600;
            padding: 0px 15px;
            height: 45px;
            font-size: 16px;
            line-height: 55px;
            overflow: hidden;
        }

        .el-dialog__body {
            min-height: 200px;
            text-align: justify;
            padding: 15px;

            table {
                min-height: 200px;
                width: 100%;
                border-collapse: collapse;
                border: 1px solid #e9edef;

                td:nth-child(1) {
                    color: #000;
                    text-align: center;
                    white-space: nowrap;
                    background-color: #f6f9fa;
                    vertical-align: middle;
                    width: 200px;
                }

                div {
                    color: #000;
                    text-align: center;
                }
            }
        }
    }
}
// html * {
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }
// * {
//     list-style: none;
//     margin: 0px;
//     padding: 0px;
//     border: currentColor;
//     border-image: none;
//     box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
// }
*::after {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: currentColor;
    border-image: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*::before {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: currentColor;
    border-image: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a {
    font-family: microsoft yahei, sans-serif;
    text-decoration: none;
}
img {
    max-width: 100%;
}
h1 {
    font-family: microsoft yahei, sans-serif;
    font-weight: 700;
}
h2 {
    font-family: microsoft yahei, sans-serif;
    font-weight: 700;
}
.cd-container {
    margin: 0px auto;
    width: 100%;
}
.cd-container::after {
    clear: both;
    display: table;
    content: "";
}

#cd-timeline {
    padding: 2em 0px;
    position: relative;
}
#cd-timeline::before {
    background: rgb(215, 228, 237);
    left: 18px;
    top: 0px;
    width: 4px;
    height: 100%;
    position: absolute;
    content: "";
}
#cd-timeline::before {
    left: 50%;
    margin-left: -2px;
}
.cd-timeline-block {
    // margin: 2em 0px;
    position: relative;
}
.cd-timeline-block::after {
    clear: both;
    display: table;
    content: "";
}
:first-child.cd-timeline-block {
    margin-top: 0px;
}
:last-child.cd-timeline-block {
    margin-bottom: 0px;
}
.cd-timeline-block {
    // margin: 4em 0px;
}
:first-child.cd-timeline-block {
    margin-top: 0px;
}
:last-child.cd-timeline-block {
    margin-bottom: 0px;
}
.cd-timeline-img {
    border-radius: 50%;
    left: 0px;
    top: 0px;
    width: 56px;
    height: 56px;
    position: absolute;
    box-shadow: 0px 0px 0px 4px #fff, inset 0px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 0px 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    display: block;
    position: relative;
}
.cd-timeline-img.cd-picture {
    background: #cf111b;
}
.biangengxmBlock {
    width: 12px;
    height: 20px;
    margin-bottom: 16px;
    margin-right: 9px;
    background: rgba(207, 17, 27, 1);
}
.biangengxm {
    font-size: 20px;
    margin-bottom: 16px;
}
.cd-timeline-img {
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
}
.cssanimations .cd-timeline-img.bounce-in {
    animation: cd-bounce-1 0.6s;
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
}
.cd-timeline-content {
    background: rgb(255, 255, 255);
    padding: 24px 22px;
    border-radius: 0.25em;
    margin-left: 60px;
    position: relative;
    // box-shadow: 0px 3px 0px #d7e4ed;
    box-shadow: 0 0 5px 2px #f2f2f2;
}
.cd-timeline-content::after {
    clear: both;
    display: table;
    content: "";
}
.cd-timeline-content p {
    font-size: 20px;
}
.cd-timeline-content .cd-read-more {
    font-size: 20px;
}
.cd-timeline-content .cd-date {
    font-size: 20px;
}
.cd-timeline-content .cd-read-more {
    display: inline-block;
}
.cd-timeline-content .cd-date {
    display: inline-block;
}
.cd-timeline-content p {
    line-height: 32px;
}
.cd-timeline-content .cd-date {
    padding: 0.8em 0px;
    // float: left;
    opacity: 0.7;
}
.cd-timeline-content::before {
    width: 15px;
    height: 30px;
    border-image: none;
    top: 16px;
    right: 100%;
    position: absolute;
    content: "";
}

.cd-timeline-content {
    padding: 1.6em;
    width: 45%;
    margin-left: 0px;
    box-sizing: border-box;
}
.cd-timeline-content::before {
    background: url("../../assets/images/companyIcon/titlejiant.png") no-repeat;
    background-size: 15px 30px;
    left: 100%;
    top: 16px;
}
.cd-timeline-content .cd-read-more {
    float: left;
}
.cd-timeline-content .cd-date {
    top: -50px;
    right: 0px;
    text-align: right;
    width: 100%;
    font-size: 18px;
    position: absolute;
}
:nth-child(2n).cd-timeline-block .cd-timeline-content {
    float: right;
}
:nth-child(2n).cd-timeline-block .cd-timeline-content::before {
    background: url("../../assets/images/companyIcon/titlejiantR.png") no-repeat;
    background-size: 15px 30px;
    left: auto;
    top: 16px;
    right: 100%;
}
:nth-child(2n).cd-timeline-block .cd-timeline-content .cd-read-more {
    float: right;
}
:nth-child(2n).cd-timeline-block .cd-timeline-content .cd-date {
    left: auto;
    text-align: left;
    top: -50px;
    right: 0px;
}
.cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
}
.cssanimations .cd-timeline-content.bounce-in {
    animation: cd-bounce-2 0.6s;
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
}

.cssanimations :nth-child(2n).cd-timeline-block .cd-timeline-content.bounce-in {
    animation: cd-bounce-2-inverse 0.6s;
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
}
