// 标题
// html{
//     overflow-y: overlay;
// }
#C_content {
    background: #f0f2f5;
    // padding: 15px 20px 20px 20px;
    .C_container {
        padding: 0;
    }
    .C_title {
        border-radius: 6px 6px 0 0;
        background: #fff;
        color: #000;
        line-height: 60px;
        border-bottom: 2px solid #f0f2f5;
        padding: 0 10px 0 0;
        font-size: 28px;
        font-weight: 600;
        // span{
        //     font-size: 20px !important;
        // }
        // <span class="Title_left"></span>
        .Title_left {
            display: inline-block;
            height: 36px;
            width: 20px;
            background: #cf111b;
            vertical-align: middle;
            margin-right: 9px;
            margin-top: -2px;
        }
    }
    #Tag {
        padding: 3px 12px;
        background: #CF111B;
        color: #fff;
        font-size: 20px;
        border-radius: 4px;
        margin: 10px 10px;
    }
}
// Tag标签
.Public_S_P {
    margin: 10px 0;
}

#Tag {
    padding: 3px 12px;
    background: #CF111B;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    margin: 10px 10px;
}
hangyenull
// 标题(带图标)
#block-header {
    .block-title {
        color: #333;
        line-height: 40px;
        white-space: nowrap;
        background: #fff;
        border-bottom: 1px solid #e9edef;
        // i{}
        span {
            font-weight: 700;
        }
    }
}
.el-table td {
    padding: 8px 0;
}
.el-table th {
    padding: 8px 0;
}
* {
    font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu
}
body {
    min-width: 1440px;
    background: #f0f2f5;
    .el-message {
        top: 80px !important;
        left: 146px;
        width: 50px;
        min-width: 250px !important;
        .el-message__content {
            padding-right: 0;
        }
    }
}
.el-table {
    font-size: 20px;
}
* {
    text-decoration: none;
}
a {
    text-decoration: none;
}

.fontSize24 {
    font-size: 24px;
}
.fontSize14 {
    font-size: 14px;
}
.fontSize16 {
    font-size: 16px;
}
.fontSize18 {
    font-size: 18px;
}
.fontSize20 {
    font-size: 20px;
}
.fontSize22 {
    font-size: 22px;
}
.colorR {
    background-color: #cf111b;
}
.colorH {
    color: #cf111b;
}
.colorFA {
    background-color: #fafafa;
}
.color3 {
    color: #000;
}
.color82 {
    color: #333;
}
.colorF {
    color: #ffffff;
}
.color9 {
    color: #999999;
}
.BgColorR {
    background: #cf111b;
}
.BgColorF {
    background: #ffffff;
}
.textAlignL {
    text-align: left;
}
.color53 {
    color: #000;
}
.colorF1E {
    background-color: #f1eeee;
}
.fontB {
    font-weight: bold;
}
input {
    outline: none;
}
button {
    outline: none;
    cursor: pointer;
}
.inline {
    display: inline-block;
    vertical-align: middle;
}

// *********************************************E*L*E*M*E*N*T*插*件*样*式*********************************************
// el-输入框/下拉框
.el-input__inner:focus {
    border-color: #cf111b !important;
}
.control-label {
    font-size: 20px;
}
.el-input__inner {
    height: 36px !important;
    line-height: 36px !important;
    font-size: 20px !important;
    color: #000;
}
input::-webkit-input-placeholder { /* WebKit browsers 适配谷歌 */
    color: #999;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 适配火狐 */
    color: #999;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ 适配火狐 */
    color: #999;
}
input:-ms-input-placeholder { /* Internet Explorer 10+  适配ie*/
    color: #999;
}
.el-input__inner::placeholder {

    color: #999;

  }
.el-select .el-input .el-input__inner{
    color: #000;
}
// 输入框外框 Search_Entry_Div
.Search_Entry_Div {
    // width: 340px;
    margin-right: 10px;
}
// 输入框内框 Search_Entry_input
.Search_Entry_input {
    width: 340px;
}
//下拉框
.Search_Down_input {
    width: 240px;
}
.el-cascader-node__label {
    color: black;
}
.el-select-dropdown__item {
    color: black;
}
//下拉框字体
.el-cascader-node {
    font-size: 20px;
}
.el-select-dropdown__item {
    font-size: 20px;
}
.el-select-dropdown__item.selected {
    color: #cf111b;
}
.el-radio__inner:hover {
    border-color: #cf111b;
}
.el-cascader .el-input.is-focus .el-input__inner {
    border-color: #cf111b;
}
// ---
.el-cascader {
    line-height: 0;
}
.el-icon-search {
    top: 9px !important;
}
// el-查询按钮  例：<el-button type="primary">查询</el-button>
.el-button--primary {
    background: #cf111b !important;
    border-color: #cf111b !important;
    color: #fff !important;
    height: 36px !important;
    width: 80px !important;
    vertical-align: middle !important;
    font-size: 20px !important;
    padding: 0 !important;
}
.el-button--primary:hover {
    background: #cf111b !important;
    border-color: #cf111b !important;
    color: #fff !important;
}
.el-button--primary:focus {
    background: #cf111b !important;
    border-color: #cf111b !important;
    color: #fff !important;
}
.el-cascader-panel {
    font-size: 20px;
}
.el-popover {
    font-size: 20px;
    color: #000 !important;
}
.el-tag {
    font-size: 20px;
}
.el-table thead {
    color: #000;
}
.el-timeline {
    font-size: 20px;
}
.el-timeline-item__timestamp {
    font-size: 18px;
}
.el-dialog__title {
    font-size: 22px;
}
.el-dialog__body {
    font-size: 20px;
}
.el-message-box__title {
    font-size: 24px;
    font-weight: 600;
}
.el-message-box__message {
    font-size: 20px;
    color: #000;
}
// 搜索框---带icon
.el-tabs .PuKey {
    padding: 0 23px !important;
    .key {
        border: none !important;
        font-size: 20px !important;
    }
}
//提示框
.el-message-box__headerbtn:hover{
    .el-message-box__close{
        color: #CF111B !important;
    }
}
.el-message-box__headerbtn .el-message-box__close:hover{
    color: #CF111B;
}
//分页样式 Start
#Pagination{
    display: flex;
    height: 100%;
    flex-direction: row-reverse;
    background: #fff;
    padding-bottom: 10px;
    padding: 0 30px 10px 0;
    font-size: 20px;
    .paginationsy{
        margin-top: 10px;
        vertical-align: bottom;
        float: right;
    }
    // 首页经过
    .paginationsy:hover{
        background: #CF111B;
        color: #fff;
        border-color: #CF111B;
    }
    .el-pagination{
        display: inline-block;
        float: right;
        padding: 10px 0 0 0;
    }
    // 上一页下一页按钮
    .el-pagination button{
        height: 36px;
        width: 80px;
    }
    .el-pagination span:not([class*=suffix]){
        font-size: 20px !important;
    }
    // buttton未禁用状态
    .el-pagination .btn-prev{
        border:1px solid rgba(226,226,226,1);
        border-radius:6px;
        color: #333333;
        padding: 0 0 !important;
        margin: 0 10px;
    }
    // button下一页
    .el-pagination .btn-next{
        border:1px solid rgba(226,226,226,1);
        border-radius:6px;
        padding: 0 0 !important;
        
    }
    // buttton禁用状态
    .el-pagination button:disabled{
        border:1px solid rgba(226,226,226,1);
        border-radius:6px;
        color: #E2E2E2;
    }
    .el-pagination button:disabled:hover{
        background-color: #fff !important;
        color: #E2E2E2 !important;
        border-color: #E2E2E2 !important;
    }
    // button内文字经过
    .el-pagination button:disabled{
        .el-pagination>button>span:hover{
            color: #E2E2E2;
        }
    }
    // 经过
    .el-pagination button:hover{
        color: #fff;
        background-color: #CF111B;
        border-color: #CF111B;
    }
    // 首页按钮
    .el-button{  
        border-radius:6px;
    }
    .el-button.is-disabled{
        color: #E2E2E2;
        height: 36px;
    }
    // 禁用后点击与经过
    .el-button.is-disabled:hover{
        background-color: #ffffff;
        border-color: #E2E2E2 !important;
    }
    .el-button.is-disabled:active{
        background-color: #ffffff !important;
        color: #E2E2E2 !important;
        border-color: #E2E2E2 !important;

    }
    .el-button--small{
        font-size: 20px;
        padding: 0 0 !important;
        width: 80px;
    }
    // 点击状态
    .el-button:active {
        color: #fff !important;
        border-color: #CF111B !important;
        outline: 0;
        background-color: #CF111B !important;
    }
    // 点击后
    .el-button:focus{
        color: #fff;
        border-color: #CF111B;
        background-color: #CF111B;
    }
}
// 分页样式 End
// 表格

.query-result {
    padding: 0 30px !important;
    border-radius: 4px !important;
    background: #fff;
    .table-wrapper {
        padding: 0 25px 25px 25px;
        border: 1px solid #e8eaf3 !important;
        border-radius: 4px;
    }
    .el-table__header {
        line-height: 52px;
    }
}

.el-switch__label * {
    line-height: 1.1;
    font-size: 20px;
    display: inline-block;
}
.el-switch__label.is-active {
    color: #000;
}
.table-wrapper {
    padding: 0 25px;
    border: 1px solid #e8eaf3 !important;
    border-radius: 4px;
}
.el-tabs .form-wrapper {
    padding: 20px 30px !important;
}
.el-table tr {
    height: 48px;
    color: black;
    td {
        .cell {
            a {
                color: black !important;
            }
        }
    }
}
