.agu_search{
    // padding:15px 20px;
    // height: 40px;
    display: flex;
    padding: 10px;
    background: #fff;
    i{
        display: inline-block;
        margin-right: 5px;
    }
    // input{
    //     background:none;  
    //     outline:none;  
    //     border:none;
    // }
    .search_l{
        float: left;
        margin-right: 10px;
        padding: 3px 5px;
        border: 1px solid #ccc;
        width: 170px;
        border-radius: 4px;
        #code{
            width: 140px;
        }
    }
    .search_r{
        // float: left;
        margin-right: 10px;
        padding: 3px 5px;
        border: 1px solid #ccc;
        width: 220px;
        border-radius: 4px;
        #shareholder{
            width: 195px;
        }
    }
    .query{
        // float: left;
        margin-right: 10px;
        button{
            outline: none;
            color: #fff;
            border: none;
            background-color: #c03532;
            border-color: #c03532;
            padding: 5.5px 10px;
            border-radius: 4px;
            cursor: pointer;
    }
    button:hover{
        background-color: #960907;
    }
}
}