#password{
    .password_c{
        width: 340px;
        margin: 120px auto;
        input{
            margin: 15px 0;
            padding: 10px 20px;
            width: 300px;
            border: 1px solid #e9edef;
            outline: none;
        }
        button{
            width: 342px;
                background: #c03532;
                color: #fff;
                outline: none;
                padding: 10px 20px;
                border: none;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
        }
        .te_input{
            display: flex;
            .codevalue{
                flex: 6;
            }
            .getcode{
                flex: 4;
                padding: 0;
                height: 37px;
                margin-top: 15px;
                margin-left: 10px;
                font-size: 14px;
            }
            .getcode2{
                flex: 4;
                margin: 14px auto;
                padding: 10px 10px;
                font-size: 14px;
                width: 300px;
                border: 1px solid #ccc;
                margin-left: 10px;
                outline: none;
                color: #fff;
                background: #ccc;
                cursor: pointer;
            }
        }
    }

    // 修改密码
    .password_t{
        width: 500px;
        margin: 120px auto;
        input{
            padding: 10px 0;
            border: 1px solid #e9edef;
            outline: none;
        }
        .el-button--primary{
            background: #c03532;
            border: 1px solid #c03532;
        }
        .el-button--default:hover{
            background: #c03532;
            opacity: .8;
            border: 1px solid #c03532;
            color: #fff;
        }
        .el-button:focus, .el-button:hover {
            color: none; 
            border-color: none; 
            background-color: none !important; 
           }
    }
}