#CompanyDetails{
    .Company_ctr{
        .company_t{
            background: #fff;
            padding: 8px 10px;
            .company_top{
                display: flex;
                border-bottom: 2px solid #c03532;
                .img{
                    width: 80px;
                    height: 80px;
                    text-align: center;
                    img{
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        margin-top: 10px;
                    }
                }
                .company_right{
                    line-height: 0;
                    .p1{
                        color: #333;
                        b{font-size: 18px;font-weight: 600;}
                        i{font-size: 12px;}
                    }
                    .p2{
                        font-size: 12px;
                        font-weight: 600;
                        color: #999;
                        line-height: 15px;
                        i{
                        }
                    }
                }
            }
            .company_center{
                margin: 10px 0;
                ul{
                    padding: 0 20px;
                    display: flex;
                    margin: 0;
                    li{
                        font-size: 14px;
                        padding-left: 5px;
                        line-height: 35px;
                        flex: 1;
                        border: 1px solid #e9edef;
                    }
                }
                .center_tag{
                    border-top: 1px solid #e9edef;
                    margin: 0 20px;
                    font-size: 14px;
                    color: #000;
                }
            }
        }
        .company_c{
            .el-tabs__content {
                .el-tab-pane {
                  .block-title {
                    position: relative;
                    height: 50px;
                    color: #333;
                    line-height: 50px;
                    white-space: nowrap;
                    span {
                      font-weight: 700;
                      font-size: 22px;
                    }
                  }
                  .table-list {
                    background-color: #fff;
                    margin-bottom: 10px;
                    header {
                      background-color: #fff;
                    }
                  }
                }
              }
        }
        .company_b{}
    }
    #developmentHistory {
        margin-bottom: 10px;
        color: #666;
        font-size: 20px;
        line-height: 1.71428571;
        position: relative;
        display: block;
        background: #fff;
        padding-bottom: 20px;
        section {
          display: block;
          .item-wrapper {
            font-size: 20px;
            line-height: 1.71428571;
            box-sizing: border-box;
            -webkit-tap-highlight-color: transparent;
            -webkit-font-smoothing: antialiased;
            margin: 0;
            position: relative;
            padding: 5px 20px 5px 200px;
            padding-top: 20px;
            .line {
              padding-top: 20px;
              width: 1px;
              height: 100%;
              background: #c03532;
              position: absolute;
              top: 0;
              left: 199px;
              .arrow:first-child {
                position: absolute;
                top: -2px;
                left: -3px;
                display: inline-block;
                width: 0;
                height: 0;
                padding: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-bottom: 5px solid #c03532;
              }
            }
            .wrapper-text {
              margin: 0;
              display: inline-block;
              border: 1px solid #e9edef;
              position: relative;
              padding: 0;
              header {
                color: #333;
                font-weight: 700;
                padding-top: 10px;
                padding-left: 10px;
                padding-right: 10px;
              }
              .content {
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 10px;
              }
              .data-time {
                padding-bottom: 20px;
                width: 114px;
                height: 24px;
                color: #fff;
                background: #c03532;
                position: absolute;
                left: -116px;
                margin-top: -12px;
                top: 50%;
                text-align: center;
              }
            }
          }
        }
      }
      #recruitmentInformation {
        border: 1px solid #e9edef;
        margin-bottom: 10px;
        .recruitmentInformationContent {
          height: 360px;
          text-align: center;
           border-bottom: 1px solid #e9edef;
          .myPie {
            border-right: 1px solid #eaeef0;
          }
        }
      }
}