#Parkdetails{
    #C_content{
        .park-content{
            background: #fff;
            .ind-title {
                border-bottom: 1px solid #e9edef;
                padding-left: 10px;
                height: 50px;
                font-size: 20px;
                .icon-data {
                    margin: 0 5px;
                    padding: 1px 5px;
                    color: #fff;
                    font-size: 16px;
                    line-height: 1.2;
                    background-color: #c03532;
                    border-radius: 4px;
                    margin-left: 10px;
                    font-weight: 400;
                }
                span {
                    color: #333;
                    line-height: 50px;
                    white-space: nowrap;
                    font-weight: 700;
                    margin-right: 5px;
                    font-size: 20px;
                }
                #Tag{
                    color: #fff;
                }
            }
            .form-wrapper {
                    padding: 20px 30px 0;
            
                .form-inline .form-group,
                .form-inline .ui-input {
                display: inline-block;
                vertical-align: middle;
                }
                .form-group {
                    margin-bottom: 10px;
                    input {
                        outline: none;
                        // width: 230px;
                    }
                    .park_teInput{
                        width: 230px;
                    }
                    .el-icon-search {
                        position: absolute;
                        top: 11px;
                        left: 5px;
                    }
                    img {
                        width: 25px;
                        height: 25px;
                    }
                    button {
                        margin-left: 10px;
                    }
                    .chaxun {
                        margin-right: 0 !important;
                        cursor: pointer;
                    }
                    .form-inline .sy-select {
                        width: auto;
                    }
                
                    // span {
                    //     font-size: 14px;
                    //     margin-right: 5px;
                    //     color: #666;
                    // }
                
                    .sy-select {
                        display: inline-block;
                        position: relative;
                        span {
                            position: absolute;
                            top: 0;
                            left: 0;
                            padding: 2px 26px 2px 10px;
                            line-height: 1.71428571;
                            width: 100%;
                            white-space: nowrap;
                        }
                        .listYear {
                            width: 150px;
                            height: 34px;
                            font-size: 14px;
                            border-radius: 4px;
                            border: 1px solid #ccc;
                            padding-left: 4px;
                            color: #666;
                            outline: none;
                            /* 清除默认的箭头样式 */
                            appearance: none;
                            -moz-appearance: none;
                            -webkit-appearance: none;
                            background: url("../../../src/assets/images/icon-xiala.png") 120px center
                            no-repeat;
                        }
                    }
                
                    .form-inline .sy-select,
                    .sy-select select {
                        display: inline-block;
                    }
                
                    .ui-input fieldset,
                    .ui-input input,
                    .ui-input textarea {
                        font-size: 14px;
                        line-height: 1.71428571;
                        border-radius: 4px;
                        border: 1px solid transparent;
                    }
                
                    .ui-input {
                        width: 240px;
                        margin-right: 5px;
                        position: relative;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        padding: 6px 23px;
                        input {
                            width: 100%;
                        }
                    }
                
                    .btn {
                    border: 1px solid transparent;
                    padding: 2px 10px;
                    font-size: 14px;
                    line-height: 1.71428571;
                    border-radius: 4px;
                    background-color: #c03532;
                    margin-left: 10px;
                    margin-top: 5px;
                    }
                }
            }
        }
    }
    
}